<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.image.to_s %></td>
      </tr>
 <% end %>

      </div>
    </div>
  </aside>
  
</div>

