<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
<% else %>

<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Let's trip to Japan</h1>
                 <%= link_to 'start', signup_path, class: 'btn btn-success btn-lg' %>
      </div>
    </div>
  </div>
<% end %>

<p>サイト紹介</p>
<p>いいねランキング</p>
<p>新着投稿</p>
<% end %>




